//user model
class User < ActiveRecord::Base
  scope :ordered, order('first_name')
  end

// In controller
class UsersController < ApplicationController
  def index
    @users = User.ordered
  end
end
<ul>
  <% @users.each do |user| -%>
    <li><%= user.last_name %> <%= user.first_name %></li>
  <% end %>
</ul>
